@page "/Home"
@using TelemetryAppSeverIOT.Data;

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<h1>Welcom To My App</h1>
<div id="hello-div">
    <h1>Hello, World!</h1>
</div>

